.navbar {
  top: 0;
  position: fixed;
  display: inline-flex;
  flex-direction: row;
  height: 35px;
  background-color: /*#36566D*/none;
  width: 100%;
  font-size: 14px;
  align-items: center;
  color: /*#fdfdfd*/#36566D;
  z-index: 999;
  /*box-shadow: 0px -12px 20px 12px #111, 0 0 0.4em;*/
}

.navbar-scorllable-section {
  display: inline-flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  align-items: center;
}

.nav-button-logo {
  font-size: 18px;
  min-width: 100px;
}

.nav-button-logo img {
  padding-top: 0.3em;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.nav-button {
  padding: 0 0.5em;
  max-width: 5em;
  transition: color 0.2s ease-in-out;
}

.is-desktop .nav-button:hover {
  color: #ddd;
}

.nav-button-active {
  color: #4c7897;
}

@media (hover: none), (pointer: coarse) {
  .navbar-scorllable-section {
    overflow-x: scroll;
  }
}
