@import "../../css-var.css";

.button {
  padding: var(--margin-base);
  font-size: 18px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 10px 0 rgb(0 1 0 / 15%);
  position: relative;
}

.button:hover {
  cursor: pointer;
}

.button-block {
  width: 100%;
  max-width: 450px;
  max-height: 45px;
}

.button:not(.button-disabled)::before {
  content: ' ';
  position: absolute;
  box-shadow: 2px 4px 12px 0 rgb(0 1 0 / 25%);
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  transition: opacity 0.3s ease-in-out;
}

.button:not(.button-disabled):hover::before {
  opacity: 1;
}

.button-default {
  background-color: var(--green);
  color: var(--white);
}

.button-nostyle {
  background-color: none;
  color: var(--white);
  box-shadow: none;
}

.button-positive {
  background-color: var(--green);
  color: var(--light-grey);
}

.button-neutral {
  background-color: var(--blue);
}

.button-negative {
  background-color: var(--red);
  color: var(--white);
}

.button-disabled.button-positive {
  background-color: var(--dark-green);
  box-shadow:var(--main-box-shadow);
  color: var(--light-gray);
}

.button-disabled.button-negative {
  background-color: var(--dark-red);
  box-shadow:var(--main-box-shadow);
  color: var(--white);
}

.button-disabled.button-default {
  background-color: var(--dark-green);
  box-shadow:var(--main-box-shadow);
  color: var(--white);
}

.button-disabled.button-neutral {
  background-color: var(--dark-blue);
  box-shadow:var(--main-box-shadow);
  color: var(--white);
}

@media only screen and (max-width: 480px) {
  .button-block {
    max-width: 95%;
  }
}
