.chip-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chip-list-container-chip-holder {
  flex-direction: column;
  margin: 0 5px;
}

.chip-holder-betting-chips {
  display: flex;
  flex-direction: column;
  align-items: center;
}