@import "../../css-var.css";

.container-component {
  padding: var(--margin-base);
  background-color: var(--gray);
  box-shadow: var(--main-box-shadow);
  border-radius: 10px;
  min-width: 100%;
  overflow: hidden;
}

.container-component-clickable {
  background-color: var(--green);
}

.container-component-clickable:hover {
  cursor: pointer;
}

.container-component-max-height {
  height: 100%;
}
