@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
      -webkit-appearance: none;
      -moz-appearance: none;
    }
}

input, input:focus, textarea:focus, select:focus{
    background-color: white;
    color: black;
    font-size: 18px;
    display: block;
    padding: 5px 8px;
    border-radius: 4px;
}

.input.errored, .input.errored:focus, .input.errored:checked {
    border-color: red red;
    border-style: solid;
    outline: red;
}