.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: url("./chip.svg");
  animation: lds-circle 2.4s cubic-bezier(0.91, 0.01, 1, 0.44) infinite;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
.full-width-height {
  height: 100%;
  width: 100%;
  display: flex;
}