/*
 * Full-screen
 */

.create-page-done-btn {
  padding-bottom: 2em;
  align-self: flex-end;
}

.create-page-main>.container-component {
  height: 100%;
}

.create-page-main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 3fr;
  font-size: 18px;
  margin-top: 10%;
}

.create-page-main-table-name,
.create-page-main-minimum-stake {
  display: flex;
  flex-direction: column;
}

.create-page-main-available-seats,
.create-page-main-connect-id {
  font-size: 14px;
  color: #14a76c;
}

.create-page-main-connect-url {
  display: inline-flex;
  flex-direction: row;
}

.create-page-main-connect-url > button {
  height: 45px;
  margin-top: 36px;
  margin-left: 0.25em;
}

.create-page-main-connect-url > .input > input {
  min-width: 250px;
  max-width: 250px;
}

@media only screen and (max-width: 480px) {
  .create-page-main>.container-component {
    margin: .5em;
  }

  .create-page-main>.container-component{
    min-width: 0;
  }
  
  .copy-link-container > .input > input {
    min-width: 200px;
    max-width: 200px;
  }
}
@media only screen and (min-width: 480px) {
  .create-page-main {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
