.content-area {
    margin: 4em 2em 0;
    padding-bottom: 2em;
}

/*We want the content to have some padding to make it easier to read for desktop/tablets*/
@media only screen and (min-width: 1024px) {
    .content-area {
      margin: 4em 16em 0;
    }
}