@import "../../css-var.css";

.game-page-container {
  height: 100%;
  overflow: hidden;
  background: url("./Pokertable.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-y: var(--margin-fourth);
}

.participant-inactive {
  opacity: 0.7;
}

.game-page-main {
  height: 100%;
  padding: 5px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
}

.game-page-participant-container {
  display: flex;
}

.participant-section-left {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.participant-section-top {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.participant-section-top.small-device {
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: 1;
  grid-row-end: 1;
}

.participant-section-right {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.current-participant {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  overflow: visible;
  margin-left: 1em;
  
  position: fixed;
  bottom: 0;
}

.game-page-pot-container {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;

  padding: 10px;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.game-page-pot-container .fa-hand-holding-usd {
  font-size: 1.5em;
}

.participant-section-button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-gap: 0.25em;
}

.player-me-avatar>.player {
  position: absolute;
  margin-top: -5em;
  background-color: #2d2d2d;
  margin-left: var(--margin-base);
}

.player-me-avatar {
  width: 85px;
}

/*
 minimum-bet
*/
.minimum-bet {
  display: flex;
  flex-direction: column;

  margin-left: 0.5em;
}

.minimum-bet-betting-section {
  font-size: 1.3em;
}

.minimum-bet-label {
  color: #fff;
  margin-right: 0.5em;
}

.minimum-bet-output {
  color: #527A51;
}

.minimum-bet-output--satisfied {
  color: #14a76c;
}