.chip {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip-larger {
  height: 45px;
  width: 45px;
}

.chip-red {
  background-color: #7A5151;
  color: #2D2D2D;
}

.chip-white {
  background-color: #C4C4C4;
  border: 1px solid black;
  color: #2D2D2D;
}

.chip-black {
  background-color: black;
  color: #2D2D2D;
}

.chip-green {
  background-color: #527A51;
  color: #2D2D2D;
}

.chip-blue {
  background-color: #51667A;
  color: #2D2D2D;
}