.player {
  padding: 0.25em;
  background-color: rgba(0, 0, 0, 0.219);
  display: inline-flex;
  flex-direction: column;
  border-radius: 4px;
  border: 3px solid #1f2605;
  transform: scale(1);
  max-height: 125px;
  max-width: 65px;
  overflow: hidden;
}

.player-active {
  border: 3px solid #517a55;
  animation: pulse 2s infinite;
}

.player-avatar {
  align-self: center;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

.player-badge {
  background-color: #111;
  padding: .5em;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  margin-top: -10px;
}

.player-active > .player-badge {
  right: -1em;
  top: -1.2em;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #517a5594;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #517a5538;
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #517a551a;
  }
}
