body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(61deg, #106087, #24441f, #822b13);
  background-size: 1000% 1000%;
  -webkit-animation: bganim 30s cubic-bezier(0.25, 0.1, 0.86, 0.15) infinite;
  -moz-animation: bganim 30s cubic-bezier(0.25, 0.1, 0.86, 0.15) infinite;
  animation: bganim 30s cubic-bezier(0.25, 0.1, 0.86, 0.15) infinite;

  font-family: 'Cabin', sans-serif;
}

.main-wrapper {
  height: 100%;
}

h1,
h2 {
  margin-block-end: 0;
  margin-block-start: 0;
}

#root::before {
  background-color: #272727;
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

/**
.main-wrapper::before {
  background: url('./splatter1.svg');
  content: ' ';
  position: fixed;
  width: 150%;
  height: 150%;
  background-size: cover;
  z-index: -1;
  transform: rotate(90deg);
  overflow: hidden;
  right: 0;
} **/

h2 {
  color: #14a76c;
}

body,
p {
  color: #747474;
}

.fc-gold {
  color: #d4af37;
}

.fc-grey {
  color: #747474;
}

.f-center {
  text-align: center;
}

.fc-white {
  color: #f0faf1;
}

.f-size-2 {
  font-size: 2em;
}

.padding-2 {
  padding: 1em;
}

.padding-2-bottom {
  padding: 1em;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}


@-webkit-keyframes bganim {
  0% {
    background-position: 29% 0%;
  }
  50% {
    background-position: 72% 100%;
  }
  100% {
    background-position: 29% 0%;
  }
}
@-moz-keyframes bganim {
  0% {
    background-position: 29% 0%;
  }
  50% {
    background-position: 72% 100%;
  }
  100% {
    background-position: 29% 0%;
  }
}
@keyframes bganim {
  0% {
    background-position: 29% 0%;
  }
  50% {
    background-position: 72% 100%;
  }
  100% {
    background-position: 29% 0%;
  }
}