body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  /* background-color: #272727; /*#f0faf1; #454745*/
}

.main-wrapper {
  height: 100%;
  overflow: hidden;
}

#root::before {
  background-color: #272727;
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.main-wrapper::before {
  background: url('./splatter1.svg');
  content: ' ';
  position: fixed;
  width: 150%;
  height: 150%;
  background-size: cover;
  z-index: -1;
  transform: rotate(90deg);
  overflow: hidden;
  right: 0;
}

h2 {
  color: #14a76c;
}

body,
p {
  color: #747474;
}
