body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  background-color: #fdfdfd;
}

.fc-dark-blue {
  color: #36566D;
}

.fc-dark-blue {
  color: #36566D;
}

.fc-red {
  color: #E76B58;
}

.fc-blue {
  color: #678C9F;
}

.bg-dark-blue {
  background-color: #36566D;
}

.fc-dark-blue {
  color: #36566D;
}

.fc-light-blue {
  color: #34D8D0;
}

.fc-peach {
  color: #ECCFA7;
}

span {
  margin: 25px;
}

.navigation {
  display: inline-flex;
  flex-direction: row;
}