/*
 * Full-screen
 */

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html,
body,
#root,
.start-page-container {
  height: 100%;
}

.start-page-header {
  margin-top: 1em;
}

.start-page-header > h1 {
  min-width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.logotypes {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.start-page-container {
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.3fr;
  background-color: #1b1f1b;
  justify-content: stretch;
  padding-left: 10%;
  padding-right: 10%;
  row-gap: 1em;
}

.start-page-footer {
  justify-content: end;
}

.start-page-main {
  padding-bottom: 1em;
}

.start-page-main-content {
  min-height: 100%;
}

.start-page-main-inv-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-page-main-inv-link-input {
  font-size: 18px;
  padding: 4px 6px;
  margin-bottom: 0.3em;
}

.start-page-main-inv-link-button {
  background-color: black;
  color: white;
  font-size: 18px;
}

.start-page-main-or {
  font-size: 22px;
}

.start-page-main-create-table-button {
  background-color: white;
  color: black;
  font-size: 18px;
}

.start-page-leave-or-join {
  margin-top: 1em;
  display: inline-flex;
  justify-content: space-between;
  min-width: 100%;
  align-items: center;
}

.logotype {
  transition: opacity ease-in-out 125ms;
}

.logotype-animation {
  animation-fill-mode: forwards;
  animation-name: flicker1, flicker2, flicker3, flicker4;
  animation-delay: 0.1s, 0.5s, 0.8s, 1.25s;
  animation-duration: 0.3s;
}

.logo-subtitle {
  margin-top: -105px; /* Not really perfect, but will do for now.. */
}

.start-page-new-player {
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: 0 auto;
}

.new-player-section {
  display: grid;
  grid-template-columns: auto 1fr;
}

.new-player-text {
  justify-content: center;
  display: inline-flex;
  flex-direction: column;
}

@keyframes flicker1 {
  to {
    opacity: 0.4;
  }
}

@keyframes flicker2 {
  to {
    opacity: 1;
  }
}

@keyframes flicker3 {
  to {
    opacity: 0.3;
    filter: grayScale(75%);
  }
}

@keyframes flicker4 {
  to {
    opacity: 1;
    filter: none;
  }
}

@media only screen and (min-width: 1680px) {
  .start-page-container {
    padding-left: 35%;
    padding-right: 35%;
  }
}

@media only screen and (max-width: 1680px) and (min-width: 850px) {
  .start-page-container {
    padding-left: 30%;
    padding-right: 30%;
  }
}

@media only screen and (max-width: 850px) {
  .start-page-new-player {
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .start-page-new-player {
    width: 100%;
  }
}
