/*
 * Full-screen
 */

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html,
body,
#root,
.start-page-container {
  height: 100%;
}

.start-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1f1b;
}

.start-page-header {
  text-align: center;
  flex-grow: 1;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.start-page-container::before {
  content: '';
  width: 70%;
  height: 70%;
  background: black;
  background-image: url('./start-page-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 15em;
  width: 150%;
  transform: rotate(355deg);
  transform-origin: 0 0;
  top: -10em;
  position: absolute;
}

.start-page-header-title {
  margin: 0;
  font-weight: 100;
  font-size: 54px;
  text-decoration: underline;
  color: #747474;
}

.start-page-header-sub-title {
  color: #747474;
}

.start-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 4;
  justify-content: flex-end;
  width: 40%;
  padding-bottom: 10em;
}

.start-page-main-inv-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-page-main-inv-link-input {
  font-size: 18px;
  padding: 4px 6px;
  margin-bottom: 0.3em;
}

.start-page-main-inv-link-button {
  background-color: black;
  color: white;
  font-size: 18px;
}

.start-page-main-or {
  font-size: 22px;
}

.start-page-main-create-table-button {
  background-color: white;
  color: black;
  font-size: 18px;
}

.start-page-leave-or-join {
  margin-top: 1em;
  display: inline-flex;
  justify-content: space-between;
  min-width: 100%;
  align-items: center;
}

.logotype {
  transition: opacity ease-in-out 125ms;
}

.logotype-animation {
  animation-fill-mode: forwards;
  animation-name: flicker1, flicker2, flicker3, flicker4;
  animation-delay: 0.1s, 0.5s, 0.8s, 1.25s;
  animation-duration: 0.3s;
}

.logo-subtitle {
  margin-top: -105px; /* Not really perfect, but will do for now.. */
}

.logotypes {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 4em;
  left: 14em;
}

.start-page-new-player {
  bottom: 0;
  justify-content: space-between;
  display: inline-flex;
  flex-direction: row;
}

@keyframes flicker1 {
  to {
    opacity: 0.4;
  }
}

@keyframes flicker2 {
  to {
    opacity: 1;
  }
}

@keyframes flicker3 {
  to {
    opacity: 0.3;
    filter: grayScale(75%);
  }
}

@keyframes flicker4 {
  to {
    opacity: 1;
    filter: none;
  }
}

@media only screen and (max-width: 1680px) {
  .logotypes {
    left: 4em;
  }
}

@media only screen and (max-width: 850px) {
  .logotypes {
    left: 1em;
  }
  .start-page-main {
    padding-bottom: 4em;
  }
}

@media only screen and (max-width: 850px) {
  .logotypes {
    left: 1em;
    top: 1em;
  }
}
