.snackbar-container {
  bottom: 0px;
  position: fixed;
  min-width: 100%;
  background-color: #202020;
  padding: 0.75em;
  max-height: 150px;
  height: 150px;
  box-shadow: 0 0 10px 0 rgb(0 1 0 / 15%);
  border-radius: 4px;
  display: grid;
  grid-template-rows: 1fr 2fr auto;
  color: hsla(120, 100%, 100%, 0.726);
}

.snackbar-btns-container {
  display: inline-grid;
  column-gap: 15px;
}

.snackbar-btns-container.snackbar-btns-container-dual {
  grid-template-columns: 1fr 1fr;
}

.snackbar-btns-container.snackbar-btns-container-single {
  grid-template-columns: 1fr;
  margin-right: 1em;
  width: 100%;
  align-items: center;
}

.dialog-visible .snackbar-container {
  animation: moveSnackbarAppear 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.dialog-invisible .snackbar-container {
  bottom: -175px;
  animation: moveSnackbarDissappear 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.dialog-visible .snackbar-title,
.dialog-visible .snackbar-message,
.dialog-visible .snackbar-btns-container {
  animation: moveSnackbarContentAppear 0.4s
    cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.snackbar-message {
  white-space: pre-line;
}

@keyframes moveSnackbarDissappear {
  from {
    bottom: 0;
  }
  to {
    bottom: -175px;
  }
}

@keyframes moveSnackbarContentAppear {
  from {
    padding-top: 50px;
  }

  to {
    padding-top: 0;
  }
}

@keyframes moveSnackbarAppear {
  0% {
    bottom: -175px;
  }
  30% {
    bottom: 5px;
  }
  60% {
    bottom: -15px;
  }
  100% {
    bottom: 0;
  }
}

.snackbar-title {
  font-weight: 700;
  font-size: 24px;
}
